absl-py==2.1.0
accelerate==1.6.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
alabaster==0.7.12
alembic==1.13.2
altair==5.2.0
altgraph==0.17.3
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==5.0.1
attrs==23.2.0
audioread==3.0.0
autograd==1.5
autoray==0.6.0
Babel==2.11.0
bcrypt==4.1.3
beautifulsoup4==4.11.1
blinker==1.6.2
cachetools==5.3.0
certifi==2022.9.24
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
colorclass==2.2.2
comm==0.2.2
compressed-rtf==1.0.7
comtypes==1.1.14
contourpy==1.0.6
cryptography==44.0.2
cycler==0.11.0
debugpy==1.8.2
decorator==5.1.1
diffusers==0.33.1
distro==1.9.0
Django==5.0.7
django-admin==2.0.2
django-excel-response2==3.0.6
django-six==1.0.5
docopt==0.6.2
docutils==0.19
easygui==0.98.3
ebcdic==1.1.1
et-xmlfile==1.1.0
excel-base==1.0.4
exceptiongroup==1.2.0
executing==2.0.1
extract-msg==0.54.1
Faker==26.0.0
filelock==3.13.1
Flask==2.3.2
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.6.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.0.7
flask-restx==1.3.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flatbuffers==24.3.25
fonttools==4.38.0
frozenlist==1.6.0
fsspec==2024.2.0
future==0.18.2
gast==0.4.0
gcloud==0.18.3
gedit==0.0.2
gitdb==4.0.11
GitPython==3.1.42
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.6
google-genai==1.9.0
google-generativeai==0.8.4
google-pasta==0.2.0
googleapis-common-protos==1.63.2
googletrans==3.1.0a0
greenlet==2.0.2
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
h2==3.2.0
h5py==3.11.0
hpack==3.0.0
hstspreload==2022.11.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.30.2
hyperframe==5.2.0
ibm-db==3.1.4
ibmcloud==0.1.0
idna==2.10
imagesize==1.4.1
importlib_metadata==8.7.0
importlib_resources==6.4.0
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.22.2
isoweek==1.3.3
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jiter==0.9.0
joblib==1.2.0
Js2Py==0.74
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lark==1.1.9
libclang==18.1.1
librosa==0.9.2
lightgbm==4.3.0
llvmlite==0.39.1
lxml==5.4.0
Mako==1.3.5
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.4.0
MouseInfo==0.1.3
mpmath==1.3.0
msoffcrypto-tool==5.4.2
multidict==6.4.3
mysql-connector==2.2.9
mysql-connector-python==8.1.0
mysql-connector-python-rf==2.2.2
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.0
ng==1.2.0
ninja==1.11.1
nltk==3.8.1
numba==0.56.4
numpy==1.23.5
oauth2client==4.1.3
oauthlib==3.2.2
olefile==0.47
oletools==0.60.2
openai==1.77.0
opencv-python==4.9.0.80
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.12.1
packaging==22.0
pandas==1.5.2
parso==0.8.3
pcodedmp==1.2.6
pefile==2022.5.30
PennyLane==0.28.0
PennyLane-Lightning==0.28.2
Pillow==9.3.0
pipwin==0.5.2
platformdirs==4.2.2
plotly==5.20.0
pluggy==1.5.0
plyer==2.1.0
pooch==1.6.0
prompt-toolkit==3.0.43
propcache==0.3.1
proto-plus==1.26.1
protobuf==3.19.6
psutil==6.0.0
pure-eval==0.2.2
pyarrow==15.0.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.12
PyAutoGUI==0.9.53
pycparser==2.21
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.8.1b0
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.13.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pyjsparser==2.7.1
PyJWT==2.8.0
PyMsgBox==1.0.9
pyodbc==4.0.39
pyparsing==3.0.9
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.3
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
PyRect==0.2.0
PyScreeze==0.1.28
pySmartDL==1.3.4
pyTelegramBotAPI==4.11.0
pytest==8.3.2
python-dateutil==2.8.2
python-decouple==3.8
pyttsx3==2.90
pytweening==1.0.4
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
pywin32==306
pywin32-ctypes==0.2.0
PyYAML==6.0.2
pyzmq==26.0.3
red-black-tree-mod==1.22
referencing==0.34.0
regex==2023.3.23
requests==2.28.1
requests-oauthlib==2.0.0
resampy==0.4.2
retworkx==0.12.1
rfc3986==1.5.0
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
RTFDE==0.1.2.1
rustworkx==0.12.1
safetensors==0.5.3
scikit-learn==1.2.0
scipy==1.9.3
screen==1.0.1
seaborn==0.13.2
semantic-version==2.10.0
simplejson==3.19.1
six==1.16.0
sklearn==0.0.post1
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
soundfile==0.11.0
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.20
sqlparse==0.5.1
stack-data==0.6.3
streamlit==1.32.2
sympy==1.12
tabulate==0.9.0
telebot==0.0.5
telegram==0.0.1
tenacity==8.2.3
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.1.0
TimeConvert==3.0.13
tkcalendar==1.6.1
tokenizers==0.21.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.2.1
torchvision==0.17.1
tornado==6.4
tqdm==4.65.0
traitlets==5.14.2
transformers==4.51.3
typing_extensions==4.13.1
tzdata==2022.7
tzlocal==4.2
uritemplate==4.1.1
urllib3==1.26.13
watchdog==4.0.0
Wave==0.0.2
wcwidth==0.2.13
websockets==15.0.1
Werkzeug==2.3.6
win-unicode-console==0.5
win10toast==0.9
wrapt==1.16.0
WTForms==3.1.2
xlwt==1.3.0
yarl==1.20.0
zipp==3.21.0
